<% // partials/main-column.ejs %>
<!-- Left Column -->
<div class="left-twocolumn">
    <!-- Do You Want To Know More -->
    <div class="focus-section">
        <p><a href="#"><b>Do You Want To Know More?</b></a></p>
        <div class="focus-grid">
            <div>
                <b>Cloud</b><br>
                <a href="../pages/storage">· Storage </a>
                <br>
                <a href="../pages/hosting">· Hosting </a>
            </div>
            <div>
                <b>Network</b><br>
                <a href="#">· Load Balancing </a><img width="56" height="11" src="/images/soon.gif" alt="Coming Soon">
                <br>
                <a href="#">· VPN </a><img width="56" height="11" src="/images/soon.gif" alt="Coming Soon">
            </div>
            <div>
                <b>End Points</b><br>
                <a href="../pages/rpcs">· RPCs </a>
                <br>
                <a href="#">· APIs </a><img width="56" height="11" src="/images/soon.gif" alt="Coming Soon">
            </div>
            <div>
                <b>Staking/Mining</b><br>
                <a href="#">· Solana </a>
                <br>
                <a href="#">· Ethereum </a>
                <br>
                <a href="#">· Ore </a><img width="56" height="11" src="/images/soon.gif" alt="Coming Soon">
                <br>
                <a href="#">· Ethereum Classic </a><img width="56" height="11" src="/images/soon.gif" alt="Coming Soon">
            </div>
        </div>
    </div>

    <!-- Links Section -->
    <div class="categories">
        <div class="category-column">
            <b>Whitepaper</b><br><a href="/files/Acorn_Validator.pdf" target="_blank">PDF</a>,...<br><br>
            <b>Pitch Deck</b><br><a href="/files/Acorn_Shell_v1.pdf" target="_blank">PDF</a>, <a href="https://www.youtube.com/watch?v=Jm3vJlhzdQk">Video</a><br><br>
            <b>Join Network</b><br>Internet, WWW, Software, Games...
        </div>
        <div class="category-column">
            <b>News & Media</b><br>Full Coverage, Newspapers, TV...<br><br>
            <b>Collaborations</b><br>Sports, Travel, Autos...<br><br>
            <b>Investors</b><br>Libraries, Dictionaries, Quotations...
        </div>
    </div>
</div>
