<!-- Right Column-->
<div class="right-column">
    <div class="bordered-section">
        <div class="section-title">Community</div>
        <div class="section-title-text">
            <ul>
                <li>Imagine a network where your devices work together seamlessly, just like a community of Bitcoin miners. In essence, DePINs are blockchain-powered networks that enable devices to share their resources in a decentralized manner.</li>
                <li><p><a href="/articles/community">more...</a></p></li>
            </ul>
        </div>

        <div class="section-title">Network Effect</div>
        <div class="section-title-text">
            <ul>
                <li>Cloud computing is the on-demand availability of computer system resources, especially data storage (cloud storage) and computing power, without direct active management by the user.</li>
                <li><p><a href="/articles/network-effect">more...</a></p></li>
            </ul>
        </div>

        <div class="section-title">Decentralized Cloud</div>
        <div class="section-title-text">
            <ul>
                <li>Cloud computing is the on-demand availability of computer system resources, especially data storage (cloud storage) and computing power, without direct active management by the user.</li>
                <li><p><a href="/articles/decentralized-cloud">more...</a></p></li>
            </ul>
        </div>
    </div>
</div>
