/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Linden Hill", serif;
    font-size: 16px;
    background-color: #f8f7f5;
    color: #000;
    text-align: center;
    flex: 1;
    overflow-y: scroll;
}

.center-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

.night {
    background-color: #1e186b;
}

/* Font Variants */
.linden-hill-regular, .linden-hill-regular-italic {
    font-family: "Linden Hill", system-ui;
    font-weight: 400;
}

.linden-hill-regular {
    font-style: normal;
}

.linden-hill-regular-italic {
    font-style: italic;
}

/* Text Styles */
p, ul {
    margin: 0;
    text-align: justify;
}

a {
    color: #00f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

b {
    font-size: 18px;
    font-weight: bold;
}

small {
    font-size: 14px;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    width: 640px;
}

.line {
    width: 640px;
    height: 1px;
    background-color: #fdd401;
}

.line-left-twocolumn {
    width: 420px;
    height: 1px;
    background-color: #fdd401;
}

/* Input Fields and Buttons */
input[type="email"], input[type="password"], select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="search"], select {
    padding: 3px 8px;
    width: 300px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    padding: 3px 8px;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

input[type="submit"]:hover, .register-button:hover, .simple-btn:hover {
    background-color: #e0e0e0;
}

.search-bar {
    margin: 10px;

}

/* Table */
table {
    font-size: 14px;
    border-spacing: 1px;
    margin: 15px 0;
    white-space: nowrap;
    width: 100%;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border: 1px solid #c5c5c5;

}

thead {
    background-color: #e0e0e0;
    font-weight: bold;
}

tbody {
    background-color: #fff;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

td {
    padding: 2px;
    text-align: left;
}

/* Tooltip container */
.tooltip {
    position: relative;
    cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltip-text {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    
    /* Positioning */
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    
    /* Hide by default */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show tooltip on hover */
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Status Indicators */
.online { color: green; }
.joining { color: orange; }
.unreachable { color: red; }
.offline { color: gray; }


/* Responsive */
@media (max-width: 600px) {
    table {
        font-size: 12px;
    }
}

.register-button {
    width: 100%;
    padding: 10px 20px;
    background-color: #fdd401;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.password-field {
    position: relative;
    width: 100%;
}

.password-field input {
    padding-right: 40px; /* Add space for the icon */
}

.password-field .password-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-field .password-button:focus {
    outline: none;
}

.password-field .password-button .fa-eye {
    pointer-events: none;
}

.simple-btn {
    margin-right: 5px;
    padding: 5px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
}

/* Page Layout - Content Structure */
.content {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 5px;
    padding: 5px;
    flex: 1;
}

.center-monocolumn {
    max-width: 640px;
    text-align: center;
}

.left-twocolumn {
    width: 420px;
    text-align: left;
}

.right-twocolumn {
    width: 200px;
    text-align: justify;
    font-size: 14px;
}

/* Sections: Info, Search, Links */
.info-section {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 20px auto;
}

.info-item {
    width: 33%;
    text-align: center;
    font-size: 14px;
}

.links-section p {
    font-size: 14px;
}

/* Content Cards and Grids */

.content-min-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #c5c5c5;
    height: 200px;
    overflow: hidden;
}

.content-min-card:hover {
    border: 1px solid #fdd401;
}

.content-min-card-title {
    font-weight: bold;
}

.content-min-card-info {
    margin-top: auto;
    text-align: left;
}

.content-min-2, .focus-grid {
    display: grid;
    gap: 10px;
}

.content-min-2, .focus-grid {
    grid-template-columns: repeat(2, 1fr);
}


.content-min-card-2 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #c5c5c5;
    height: 250px;
    overflow: hidden;
}

.content-min-card-2:hover {
    border: 1px solid #fdd401;
}

.content-min-card-2-title {
    font-weight: bold;
}

.content-min-card-2-info {
    text-align: left;
}

.content-min-3, .focus-grid {
    display: grid;
    gap: 10px;
    margin: 5px;
    padding: 5px;
}

.content-min-3 {
    grid-template-columns: repeat(3, 1fr);
}

/* Focus Section */
.focus-section {
    border: 1px solid #fdd401;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 6px 12px;
}

/* Tabs */
.tab {
    overflow: hidden;
}

.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    background-color: #ccc;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #fdd401;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

/* Categories Section */
.categories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.category-column {
    width: 48%;
}

/* Bordered Sections and Titles */
.bordered-section, .bordered-section-gray {
    border: 1px solid #fdd401;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bordered-section-gray {
    border-color: #c5c5c5;
}

.section-title, .section-title-gray {
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    background-color: #fdd401;
}

.section-title-gray {
    background-color: #c5c5c5;
}

.section-title-text {
    padding: 5px;
}

/* Lists */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 14px;
    margin-bottom: 5px;
}

/* Right Column Text Alignment */
.right-column p {
    text-align: right;
    margin-top: 10px;
}

/* Article Content */
.article-content {
    margin: 5px;
    padding: 5px;
    height: 800px;
}

.article-image-left img, .article-image-right img {
    border-radius: 5px;
}

.article-image-left img {
    float: left;
    margin: 10px 10px 10px 0;
}

.article-image-right img {
    float: right;
    margin: 10px 0 10px 10px;
}

/* Registration Form */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    width: 100%;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
}

.registration-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

/* Footer */
.footer {
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    width: 100%;
    margin-top: auto;
}